<main>
  <div class="formgroup">
    <form [formGroup]="form">
      <div class="formControl">
        <label for="userId">ID do Usuário</label>
        <input type="number" id="userId" formControlName="userId" />
      </div>
      <div class="formControl">
        <label for="title">Título</label>
        <input type="text" id="title" formControlName="title" />
      </div>
      <div class="formControl">
        <label for="completed">Completo</label>
        <select id="completed" formControlName="completed">
          <option value="true">Sim</option>
          <option value="false">Não</option>
        </select>
      </div>

      <div><button (click)="submit()">Salvar</button></div>
    </form>
  </div>
</main>